h2{

    color:darkorange;
}

body{

    background-color: #0e2f36;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    text-align: center;
}

header{

    border-bottom: 1px solid gray;
}

footer{

    border-top: 1px solid gray;
}

#nome-usuario{

    font-weight: bold;
}

.texto_inglês{

    font-style: italic;
}